@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

.footer {
    background-color: #0d1117;
    color: #61dafb;
    font-family: "Orbitron", sans-serif;
    padding: 20px 0px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(97, 218, 251, 0.4);
}
.footer-content {
    max-width: 900px;
    margin: 0 auto;
}
.footer-react-icon {
    font-size: 3rem;
    margin-bottom: 10px;
    animation: spin 15s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.social-icons { margin-top: 12px; }
.social-icons a {
    color: #61dafb;
    font-size: 1.6rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.social-icons a:hover { color: #21a1f1; }
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}